.Text {}

.text-small {
    font: var(--font-small);
}

.text-medium {
    font: var(--font-medium);
}

.text-large {
    font: var(--font-large);
}

.text-xl {
    font: var(--font-extra-large);
}

.disabled {
    opacity: var(--disabled-opacity);
    fill-opacity: var(--disabled-opacity);
    stroke-opacity: var(--disabled-opacity);
}

.color-red {
    color: var(--red-color);
}

.color-primary {
    color: var(--primary-color);
}

.color-green {
    color: var(--green-color);
}

.noWrap {
    white-space: nowrap;
}
