.button {
    cursor: pointer;
    color: var(--primary-color);
    transition: 0.3s opacity;
    padding: 0 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.theme-clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.theme-outline {
    background: none;
    border: 1px solid var(--primary-color);
}

.theme-outline-red {
    background: none;
    border: 1px solid var(--red-color);
}

.theme-rounded {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.theme-rounded-red {
    border: 1px solid var(--red-color);
    border-radius: var(--border-radius);
}

.size-small {
    font: var(--font-small);
}

.size-medium {
    font: var(--font-medium);
}

.size-large {
    font: var(--font-large);
}

.disabled {
    cursor: auto;
    opacity: var(--disabled-opacity);

    &hover {
        opacity: var(--disabled-opacity);
        fill-opacity: var(--disabled-opacity);
        stroke-opacity: var(--disabled-opacity);
    }
}

.maxWidth {
    width: 100%;
}
