.SidebarMain {
    min-width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-primary-color);
    color: var(--primary-color);
    position: relative;
    transition: 0.3s min-width;
    padding-left: 1rem;
    display: block;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

.collapseBtn {
    display: flex;
    transition: 0.3s rotate;
    align-items: center;
    margin-top: 0.5rem;
    position: absolute;
}
.collapsed {
    min-width: var(--sidebar-width-collapsed);

    .collapseBtn {
        rotate: 180deg;
        transition: 0.3s rotate;
    }
}


