.ProcOrderCreateForm {
    max-width: 100%;
    display: flex;
}

.text {
    min-width: 200px;
    background-color: red;
}

.inputBlock {
    max-width: 64rem;
}

.buttons {
    max-width: 10rem;
    margin-right: auto;
}

.order {
    align-self: stretch;
    flex-shrink: 0;
}

.button {
    max-width: 15rem;
    min-width: 10rem;
    padding: 0.5rem;
}

.order-poses {
    flex-grow: 1;
    width: 100%;
    background-color: aliceblue;
}
