.ProcOrderCreateForm {
    max-width: 100%;
}

.text {
    min-width: 200px;
    background-color: red;
}

.inputBlock {
    max-width: 64rem;
}

.buttons {
    height: 100%;
    max-width: 10rem;
    margin-right: auto;
}

.order {
    height: 100%;
}

.button {
    max-width: 15rem;
    min-width: 10rem;
    padding: 0.5rem;
}
