.table {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    width: 100%;
}
.tr {
    border-bottom: 1px solid var(--primary-color);
}

.thead .tr .th, .tfoot .tr .th {
    text-align: center;
}

.table .td, .table .th {
    border-right: 1px solid var(--primary-color);
    padding: 0.25rem 0.5rem;
}

.table .tr:hover {
    background-color: var(--inverted-primary-color);
}

.table .th, .tfoot .th {
    text-align: left;
    background-color: var(--inverted-primary-color);
    color: var(--primary-color);
}

.tfoot .th {
    font-weight: 400;
    font-style: italic;
}

.cursor-pointer {
    cursor: pointer;
}

.sort {
    display: flex;
    justify-content: center;
    align-content: center;
}
